@import "reset.css";


body {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    padding: 20px;
}

.select-wrap {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.color-options {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

input#color {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 60px;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

input#color::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid white;
}


.color-option {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    cursor: pointer;
    transform: trasform ease-in-out .1s;
}

.color-option:hover {
    transform: scale(1.2);
}


canvas {
    width: 800px;
    height: 800px;
    background-color: white;
    /* border: 3px solid black; */
    border-radius: 8px;
}


.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button, label {
    all:unset;
    text-align: center;
    padding: 10px 0;
    background-color: bisque;
    color: black;
    cursor: pointer;
    transform: opacity linear .5s;
}


button:hover {
    opacity: 0.85;
}


input#file {
    display: none;
}