@import "reset.css";


body {
    background-color: #F3F3F3;
}

#wrap {
    display: flex;
    gap: 60px;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.canvas-wrap {
    position: relative;
    width: 1024px;
    height: 674px;
}


.canvas-wrap::before {
    position: absolute;
    content: '';
    top: 0;
    width: 880px;
    height: 48px;
    left: 50%;
    margin-left: -440px;
    background: url(./images/pc_spring.png);
}


canvas {
    background-color: white;
    border-radius: 8px;
    margin-top: 24px;
}

.select-wrap {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.color-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.color-options label {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}


input#color {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 64px;
    height: 64px;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

input#color::-webkit-color-swatch {
    /* border-radius: 50%; */
    border: 3px solid white;
}


.color-option {
    width: 48px;
    height: 48px;
    /* border-radius: 50%; */
    margin: 4px 8px;
    cursor: pointer;
    transform: trasform ease-in-out .1s;
}

.color-option:hover {
    transform: scale(1.2);
}





.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-wrap button {
    all:unset;
    text-align: center;
    padding: 10px 0;
    background-color: bisque;
    color: black;
    cursor: pointer;
    transform: opacity linear .5s;
}


button:hover {
    opacity: 0.85;
}


input#file {
    display: none;
}